.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: 155px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-text {
  font-size: 5rem;
  text-align: center;
  font-family: Playfair Display;
}
.contact-us-text01 {
  font-size: 24px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-us-hero {
  width: 100%;
  height: 754px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  padding-bottom: 202px;
  justify-content: space-between;
}
.contact-us-container01 {
  height: 601px;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.contact-us-text09 {
  font-size: 3rem;
  max-width: 450px;
  font-family: Playfair Display;
}
.contact-us-btn-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-us-container02 {
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: center;
}
.contact-us-icon {
  fill: #8ac11c;
  width: 24px;
  height: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-container03 {
  flex: 0 0 auto;
  width: 358px;
  height: 20px;
  display: flex;
  margin-top: 53px;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-text10 {
  font-size: 20px;
}
.contact-us-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: center;
}
.contact-us-icon02 {
  fill: #8ac11c;
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-container05 {
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container06 {
  flex: 0 0 auto;
  width: 358px;
  height: 20px;
  display: flex;
  margin-top: 53px;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-text11 {
  font-size: 20px;
}
.contact-us-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: center;
}
.contact-us-icon04 {
  fill: #8ac11c;
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-container08 {
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container09 {
  flex: 0 0 auto;
  width: 358px;
  height: 20px;
  display: flex;
  margin-top: 53px;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-text12 {
  font-size: 20px;
}
.contact-us-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: center;
}
.contact-us-icon06 {
  fill: #8ac11c;
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-container11 {
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container12 {
  flex: 0 0 auto;
  width: 358px;
  height: 20px;
  display: flex;
  margin-top: 53px;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-text13 {
  font-size: 20px;
}
.contact-us-container13 {
  flex: 0 0 auto;
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  justify-content: center;
}
.contact-us-icon08 {
  fill: #8ac11c;
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-container14 {
  width: auto;
  height: 79px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container15 {
  flex: 0 0 auto;
  width: 358px;
  height: 20px;
  display: flex;
  margin-top: 53px;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-text14 {
  font-size: 20px;
}
.contact-us-text15 {
  font-size: 3em;
  font-family: Playfair Display;
  margin-bottom: 36px;
}
.contact-us-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-us-container16 {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  justify-content: space-between;
}
.contact-us-container17 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-container18 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.contact-us-testimonial1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-icon10 {
  fill: #f30000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: 40px;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-container19 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container20 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container21 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container22 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon12 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.contact-us-text16 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.contact-us-container23 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-container24 {
  flex: 0 0 auto;
  width: 44px;
  height: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container25 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container26 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon14 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-text17 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
}
.contact-us-container27 {
  flex: 0 0 auto;
  width: auto;
  height: 71px;
  display: flex;
  align-items: center;
}
.contact-us-container28 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container29 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container30 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon16 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.contact-us-link {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.contact-us-text18 {
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-us-image {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.contact-us-testimonial-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.contact-us-testimonial2 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-icon18 {
  fill: #f30000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: 40px;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-container31 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container32 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container33 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container34 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon20 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.contact-us-text19 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.contact-us-container35 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-container36 {
  flex: 0 0 auto;
  width: 44px;
  height: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container37 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container38 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon22 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-text20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
}
.contact-us-container39 {
  flex: 0 0 auto;
  width: auto;
  height: 71px;
  display: flex;
  align-items: center;
}
.contact-us-container40 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container41 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container42 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon24 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.contact-us-link1 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.contact-us-text21 {
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-us-image1 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.contact-us-container43 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us-testimonial-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-icon26 {
  fill: #ff0101;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: 40px;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-container44 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container45 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container46 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container47 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon28 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.contact-us-text22 {
  margin-top: var(--dl-space-space-halfunit);
}
.contact-us-container48 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container49 {
  flex: 0 0 auto;
  width: 44px;
  height: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container50 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container51 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon30 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-us-text23 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
}
.contact-us-container52 {
  flex: 0 0 auto;
  width: auto;
  height: 71px;
  display: flex;
  align-items: center;
}
.contact-us-container53 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container54 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container55 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon32 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.contact-us-link2 {
  margin-top: 0px;
  text-decoration: none;
}
.contact-us-profile {
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.contact-us-image2 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.contact-us-container56 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-text24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.contact-us-text25 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.contact-us-testimonial3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-us-container57 {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  justify-content: space-between;
}
.contact-us-container58 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-container59 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-testimonial-card3 {
  width: 660px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.contact-us-testimonial4 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-icon34 {
  fill: #f30000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: 40px;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-container60 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container61 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container62 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container63 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon36 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.contact-us-text26 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.contact-us-container64 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-container65 {
  flex: 0 0 auto;
  width: 44px;
  height: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container66 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container67 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon38 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-text27 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
}
.contact-us-container68 {
  flex: 0 0 auto;
  width: auto;
  height: 71px;
  display: flex;
  align-items: center;
}
.contact-us-container69 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container70 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container71 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon40 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.contact-us-text28 {
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
}
.contact-us-text29 {
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-us-image3 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.contact-us-testimonial-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.contact-us-testimonial5 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-icon42 {
  fill: #f30000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: 40px;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-container72 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-container73 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container74 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container75 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon44 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.contact-us-text30 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.contact-us-container76 {
  width: 204px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-container77 {
  flex: 0 0 auto;
  width: 44px;
  height: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container78 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container79 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon46 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-us-text31 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
}
.contact-us-container80 {
  flex: 0 0 auto;
  width: auto;
  height: 71px;
  display: flex;
  align-items: center;
}
.contact-us-container81 {
  flex: 0 0 auto;
  width: 44px;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container82 {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-container83 {
  flex: 0 0 auto;
  width: Small;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon48 {
  fill: #8ac11c;
  width: 36px;
  height: 36px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.contact-us-text32 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.contact-us-text33 {
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-us-image4 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.contact-us-hero1 {
  width: 535px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-us-container84 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-text34 {
  font-size: 3rem;
  font-family: Playfair Display;
}
.contact-us-form {
  width: 526px;
  height: 664px;
  margin-top: var(--dl-space-space-twounits);
  border-color: rgba(138, 193, 28, 0);
  border-width: 2px;
  margin-bottom: 26px;
}
.contact-us-container85 {
  flex: 0 0 auto;
  width: 201px;
  height: 21px;
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
  margin-bottom: 12px;
}
.contact-us-text35 {
  font-style: normal;
  font-weight: 700;
}
.contact-us-container86 {
  flex: 0 0 auto;
  width: 517px;
  height: 33px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.contact-us-textinput {
  width: 259px;
  margin-left: 13px;
  margin-right: 39px;
}
.contact-us-textinput1 {
  width: 210px;
}
.contact-us-label {
  text-align: center;
  margin-left: 12px;
  margin-right: 263px;
  margin-bottom: 0px;
}
.contact-us-text36 {
  margin-right: 0px;
}
.contact-us-container87 {
  flex: 0 0 auto;
  width: 201px;
  height: 21px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-left: 12px;
  margin-bottom: 12px;
}
.contact-us-text37 {
  font-style: normal;
  font-weight: 700;
}
.contact-us-textinput2 {
  margin-left: 13px;
}
.contact-us-container88 {
  flex: 0 0 auto;
  width: 201px;
  height: 21px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-left: 12px;
  margin-bottom: 12px;
}
.contact-us-text38 {
  font-style: normal;
  font-weight: 700;
}
.contact-us-textinput3 {
  width: 260px;
  margin-left: 13px;
  margin-right: 39px;
}
.contact-us-container89 {
  flex: 0 0 auto;
  width: 201px;
  height: 21px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-left: 12px;
  margin-bottom: 12px;
}
.contact-us-text39 {
  font-style: normal;
  font-weight: 700;
}
.contact-us-textinput4 {
  width: 260px;
  margin-left: 13px;
  margin-right: 39px;
}
.contact-us-container90 {
  flex: 0 0 auto;
  width: 201px;
  height: 21px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-left: 12px;
  margin-bottom: 12px;
}
.contact-us-text40 {
  font-style: normal;
  font-weight: 700;
}
.contact-us-textinput5 {
  width: 508px;
  height: 95px;
  margin-left: 13px;
  margin-right: 1px;
}
.contact-us-button {
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: 243px;
}
@media(max-width: 1200px) {
  .contact-us-text15 {
    margin-top: 62px;
  }
}
@media(max-width: 991px) {
  .contact-us-hero {
    height: 1180px;
    flex-direction: column;
  }
  .contact-us-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .contact-us-text09 {
    text-align: center;
  }
  .contact-us-container16 {
    flex-direction: column;
  }
  .contact-us-container17 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .contact-us-image2 {
    margin-left: 0px;
  }
  .contact-us-container57 {
    flex-direction: column;
  }
  .contact-us-container58 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-hero1 {
    flex-direction: column;
  }
  .contact-us-container84 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-text34 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .contact-us-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-us-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-text15 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .contact-us-container16 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial1 {
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial-card1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial2 {
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-us-container57 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial-card3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial4 {
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial-card4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial5 {
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-us-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-text35 {
    margin-left: 12px;
  }
  .contact-us-textinput {
    margin-left: 12px;
  }
  .contact-us-label {
    margin-left: 12px;
  }
  .contact-us-text37 {
    margin-left: 12px;
  }
  .contact-us-text38 {
    margin-left: 12px;
  }
  .contact-us-textinput3 {
    margin-left: 12px;
  }
  .contact-us-text39 {
    margin-left: 12px;
  }
  .contact-us-textinput4 {
    margin-left: 12px;
  }
  .contact-us-text40 {
    margin-left: 12px;
  }
  .contact-us-textinput5 {
    margin-left: 12px;
  }
}
@media(max-width: 479px) {
  .contact-us-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-btn-group {
    flex-direction: column;
  }
  .contact-us-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-btn-group1 {
    flex-direction: column;
  }
  .contact-us-text15 {
    margin-top: 20px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .contact-us-container16 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-testimonial-card1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-testimonial-card2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-us-profile {
    justify-content: center;
  }
  .contact-us-container57 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial-card3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-testimonial-card4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-testimonial5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-container84 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-form {
    width: 100%;
    height: 688px;
    margin-top: 126px;
  }
  .contact-us-container86 {
    width: 100%;
  }
  .contact-us-textinput {
    width: 203px;
  }
  .contact-us-label {
    margin-right: 205px;
  }
  .contact-us-textinput5 {
    width: 447px;
    height: 120px;
    margin-right: 0px;
  }
  .contact-us-button {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 173px;
  }
}
