@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UHBH</title>
    <meta property="og:title" content="UHBH" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="shortcut icon"
      href="~/playground_assets/logo.jpg"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <link rel="stylesheet" href="~/css/style.css" />
  </head>
  <body>
    <div>
      <link href="~/css/home.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-banner">
          <h1 class="home-text">
            <span>"Children are our greatest treasure,</span>
            <span>they are our future."</span>
          </h1>
          <span class="home-text03">
            <span class="home-text04"></span>
            <br />
            <br />
            <br />
            <br />
            <br />
            <span class="home-text05">Nelson Mandela</span>
          </span>
          <span class="home-text06">
            <span>
              <span>
                The Upper Highway Baby Home (UHBH) was established in 2019. Both
                Kerry and Gary are registered foster parents. Due to this, the
                Home has been screened to provide both temporary safe care and
                foster care for abandoned and vulnerable babies. These babies
                arrive with the paperwork necessary to facilitate adoption.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                Many babies we receive are in a poor state of health. Some
                require both urgent and ongoing care and treatment to ensure
                successful adoption. Besides looking after the physical well
                being of these babies, we teach the babies how to function in a
                family environment. They learn to treat pets with care, travel
                in car seats, go to the shops and out for tea. In addition to
                this they get to socialise with other children and adults. We
                aim to provide all the normal experiences a loving family would
                offer them. This way, when the babies are adopted, their
                transition into family life is a smooth and happy one.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                Every baby that comes through the UHBH doors becomes part of the
                Stanton family. They know they are wanted and loved beyond
                measure. Most importantly, it is a place where they are
                protected and prepared for the new life in a forever family that
                is already waiting for them.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                We ensure the babies receive everything that they need in the
                first 2 years, so that the foundations for a healthy and
                productive life are well laid.
              </span>
            </span>
          </span>
        </div>
        <div class="home-hero">
          <div class="home-container1">
            <h1 class="home-text17">Why the Need?</h1>
            <span class="home-text18">
              <span>
                An estimated 40 000 babies are abandoned every year in South
                Africa and we only save about 3000 of these. The rest die alone
                after being abandoned in fields, thrown into rivers or toilets
                etc. A further 10 000 babies are placed for adoption, mostly by
                young mothers who have been abused or are in a situation where
                they have no means to bring the babies up in a healthy and
                stable environment.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                The government facilities to support these babies are very
                poorly resourced and oversubscribed. Many babies end up in
                informal orphanage type situations with little hope of thriving
                and leading a productive life. Many do not survive the first two
                years and for those that do, they will stay in an orphanage for
                their entire childhood. They are then forced to leave with no
                support as soon as government grants are stopped. This further
                exacerbates the situation and in most cases the cycle of neglect
                continues for generations as these youngsters themselves become
                parents from as young as 14 years old. South Africa truly has a
                crisis that is not receiving sufficient attention!
              </span>
              <br />
              <span></span>
              <br />
              <span>
                We believe every child deserves a family that loves them and
                this is especially important in the formative years. The need
                for facilities to love and house abandoned babies in South
                Africa, and facilitate adoption into loving families, is dire.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                If we help just a handful of babies every year we believe the
                impact will be significant. These children will have the
                opportunity to be part of a family and develop into loving
                socially responsible adults themselves.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                We need to stop the cycle of neglect. We hope our example will
                be multiplied many times over throughout the country.
              </span>
            </span>
            <div class="home-btn-group"></div>
          </div>
          <img
            alt="image"
            src="https://upperhighwaybabyhome.co.za/wp-content/uploads/2019/03/AdobeStock_109576657-678x1024.jpeg"
            class="home-image"
          />
        </div>
        <div class="home-testimonial">
          <h1 class="home-text28"><span>Our clients speak</span></h1>
          <div class="home-container2">
            <header class="home-testimonial-card">
              <svg viewBox="0 0 1024 1024" class="home-icon">
                <path
                  d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
                ></path>
              </svg>
              <div class="home-testimonial1">
                <span class="home-text30">
                  Our precious baby boy started his life in the wonderful Upper
                  Highway Baby Home family. I call it family because that’s
                  exactly how it felt while we were there and continues to feel
                  now that we have been home a year with our son. Kerry, Gary
                  and the staff at the baby home treat the babies like their own
                  providing so much more then just the basic needs. I am so
                  thankful our son had the best start in life and was/ is so
                  very loved. I know first hand your support dollars are going
                  to great use!
                </span>
                <a
                  href="https://www.facebook.com/pg/2192679910982407/reviews/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="home-link"
                >
                  <img
                    alt="profile"
                    src="~/playground_assets/facebook-200h.jpg"
                    class="home-image1"
                  />
                </a>
                <span class="home-text31">Kristin Gautheir</span>
              </div>
            </header>
          </div>
        </div>
        <header class="home-testimonial-card1">
          <svg viewBox="0 0 1024 1024" class="home-icon2">
            <path
              d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
            ></path>
          </svg>
          <div class="home-testimonial2">
            <span class="home-text32">
              The Upper highway Baby Home is the best place to go to see babies
              in good care and they are loved so so much, not only by the staff
              but also by every volunteer that walks in there. I love these
              babes ❤ I'm so glad I found this place
            </span>
            <img
              alt="profile"
              src="~/playground_assets/facebook2-200h.jpg"
              class="home-image2"
            />
            <span class="home-text33">Sam Watt</span>
          </div>
        </header>
        <header class="home-testimonial-card2">
          <svg viewBox="0 0 1024 1024" class="home-icon4">
            <path
              d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
            ></path>
          </svg>
          <div class="home-testimonial3">
            <span class="home-text34">
              From the moment I first walked into The Upper Highway Baby Home in
              July 2019, I was in awe! 😱 The Stanton family are real-life
              heroes. 💛 Both Kerry and Gary are two of the most courageous
              humans I know. They pursued their dream of caring for orphaned and
              abandoned babies and have done an amazing job of providing each
              baby 👶🏼 with a loving, safe home whilst they wait for their
              forever families. If you are looking for a cause to support - this
              is it! Help them shift the future generation - pledge your support
              today 💛
            </span>
            <a
              href="https://www.facebook.com/pg/2192679910982407/reviews/"
              target="_blank"
              rel="noreferrer noopener"
              class="home-link1"
            >
              <img
                alt="profile"
                src="~/playground_assets/facebook3-200h.jpg"
                class="home-image3"
              />
            </a>
            <span class="home-text35">Kayleigh Du Toit</span>
          </div>
        </header>
      </div>
    </div>
   <br />
   <br />
  </body>
</html>




