@page
@model WILUHBH.Pages.teamModel
@{
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team - UHBH</title>
    <meta property="og:title" content="Team - UHBH" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="shortcut icon"
      href="/playground_assets/logo.jpg"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <link rel="stylesheet" href="~/css/style.css" />
  </head>
  <body>
    <div>
      <link href="~/css/team.css" rel="stylesheet" />

      <div class="team-container">
        <div class="team-banner">
          <h1 class="team-text">Meet The Team!</h1>
          <div class="team-btn-group"></div>
        </div>
        <div class="team-container01">
          <div class="team-container02">
            <img
              alt="image"
              src="/playground_assets/gary-300w.jpg"
              class="team-image"
            />
            <h1>Gary</h1>
            <span>
              Gary Stanton is the Founder and Director of UHBH. He plays
              an important day to day role as "Dadda" to the babies in 
              our care. He manages all the operations and finances of 
              the Baby Home, utilising his extensive prior experince 
              in the corporate world as an executive in a number of 
              successful companies. "My passion and purpose in life 
              is protecting the vulnerable and i have found my 
              calling in what i do at UHBH". 
            </span>
          </div>
          <div class="team-container03">
            <div class="team-container04">
              <img
                alt="image"
                src="/playground_assets/kerry-300w.jpg"
                class="team-image1"
              />
              <h1>Kerry</h1>
              <span>
                Kerry is the co-founder if the Upper Highway Baby Home.
                Kerry is Mom to all at the UHBH.  She is involved with 
                overall management of the baby home and attends to the 
                legal and medical requirements of the babies and is the 
                designer of thr outreach elements and marketing. 
                “The fact the babies born to other women call me mommy 
                is a tragedy andpriveldge that is never lost on me.”
              </span>
            </div>
          </div>
          <div class="team-container05">
            <img
              alt="image"
              src="/playground_assets/becky-300w.jpg"
              class="team-image2"
            />
            <h1>Rebecca </h1>
            <span>
              Her roles in the baby home include: making sure all procedures 
              run as smoothly as possible, looking after valued staff members 
              and being Kerry’s shadow in case she needs any help. Her most 
              important ( and favourite) role is being the big sister to all 
              the special babies that come through our home. “ It is such a 
              great privilege to be apart of these babies lives. I will always 
              cherish and hold these precious moments close to my heart. 
              Forever grateful and honoured to be apart of the Upper Highway 
              Baby Home.”
            </span>
          </div>
        </div>
        <div class="team-container06">
          <div class="team-container07">
            <img
              alt="image"
              src="/playground_assets/zanele-400h.jpg"
              class="team-image3"
            />
            <h1>Zanele</h1>
            <span class="team-text08">Baby home carer</span>
          </div>
          <div class="team-container08">
            <div class="team-container09">
              <img
                alt="image"
                src="/playground_assets/goodman%20%5B2%5D-400h.jpg"
                class="team-image4"
              />
              <h1>Goodman</h1>
              <span class="team-text10">
                Saving Futures and Upper Highway Baby Home drive
              </span>
            </div>
          </div>
          <div class="team-container10">
            <img
              alt="image"
              src="/playground_assets/ola-400h.jpg"
              class="team-image5"
            />
            <h1>Ola</h1>
            <span class="team-text12">
              Saving Futures and Upper Highway Baby Home cook
            </span>
          </div>
        </div>
        <div class="team-container11">
          <div class="team-container12">
            <img
              alt="image"
              src="/playground_assets/presh-400h.jpg"
              class="team-image6"
            />
            <h1>Presh</h1>
            <span class="team-text14">Baby Home Carer</span>
          </div>
          <div class="team-container13">
            <div class="team-container14">
              <img
                alt="image"
                src="/playground_assets/thobi-400h.jpg"
                class="team-image7"
              />
              <h1>Thobi</h1>
              <span class="team-text16">
                Saving Futures Coordinator and baby home carer
              </span>
            </div>
          </div>
          <div class="team-container15">
            <img
              alt="image"
              src="/playground_assets/zoe-400h.jpg"
              class="team-image8"
            />
            <h1>Zoe</h1>
            <span class="team-text18">Baby home carer</span>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
    </div>
    
  </body>
</html>
